/* This is the style sheet file for the main index.html file, setting the styles for various components of the webpage in this sheet*/
body {
  background-color: #fff;
  background: url(./bg.jpg);
  background-size: cover;
  font-family: Roboto;
  font-weight: 900;

  overflow: hidden;
  animation: blur 0.5s ease-out;
}
* {
  outline: none;
  border: 2px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#title_container {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #9370db; /* theme colour*/
  border-bottom: 5px solid #fff;
  box-shadow: 0 0 30px -18px #9370db;
}
#title_inner_container {
  width: 100%;
  height: 100%;

  display: flex;

  align-items: center;
  border-radius: 200px;
}
#title {
  position: absolute;

  left: 30px;
  display: inline-block;
  color: rgb(250, 248, 248);
  font-size: 45px;
  letter-spacing: 2px;
  user-select: none;
}
#t1_button_container {
  position: absolute;

  right: 75px;
  width: 6%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(252, 252, 252);
}
#t1_button {
  position: absolute;

  right: 19px;
  width: 60%;
  height: 40px;
  border-radius: 100%;
  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #9370db;
  float: right;
}
#t2_button_container {
  position: absolute;
  right: 16px;
  width: 6%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  float: right;
}
#t2_button {
  position: absolute;
  right: 12px;
  width: 60%;
  height: 40px;
  border-radius: 100%;
  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #9370db;
}

#join_button_container {
  position: absolute;
  left: 50px;
  top: 530px;
  width: 300px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9370db;
  margin-top: 80px;
  float: left;
}
#join_button {
  border-radius: 12px;
  width: 80%;
  height: 40px;
  background-color: #9370db;
  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
#image1 {
  position: absolute;
  left: 3px;
  top: 180px;
  height: 30%;
  width: 30%;
}
#welcome_container {
  position: absolute;
  left: 50px;
  top: 560px;
  font-size: x-large;
  color: #696969;
}
#txt {
  position: absolute;
  left: 50px;
  top: 500px;
  font-size: xxx-large;
  color: #696969;
}

#video_container {
  width: 69%;
  height: 700px;
  float: right;
  display: flex;
  justify-content: center;
}

#chat_container {
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: center;

  float: left;
  margin-top: 20px;
  /* Fade in container */
  animation: fadeIn 1s linear;
}
#chat_inner_container {
  width: 90%;
  height: 100%;
}
#chat_content_container {
  width: 100%;
  height: 90%;

  float: left;
  overflow-y: auto;
  font-family: Varela Round;

  padding-left: 15px;
  padding-right: 15px;
}
#chat_input_container {
  width: 100%;
  height: 10%;

  float: left;
  border-bottom: 2px dashed #1d3354;
  background-color: #dcdcdc;

  padding-left: 15px;
  padding-right: 15px;
  font-family: Varela Round;
  margin-top: 4px;
}
#chat_input {
  width: 95%;
  height: 100%;
  float: left;
  background-color: Transparent;
  color: #1d3354;
  font-size: 15px;
}
#chat_input_send {
  width: 5%;
  height: 100%;
  float: left;
  font-size: 18px;
  background-color: Transparent;
  text-align: right;
  color: #696969;
}
#chat_input_send.enabled {
  color: #9370db;
  background-color: Transparent;
  cursor: pointer;
}
#chat_logout_container {
  width: 100%;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
#chat_logout {
  color: #9370db;
  cursor: pointer;
}
#chat_logout:hover {
  text-decoration: underline;
}
.message_container {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.message_inner_container {
  width: 100%;
  display: inline-block;

  color: #1d3354;
}
.message_user_container {
  width: 100%;
  display: inline-block;
}
.message_user {
  font-weight: bold;
  font-size: 14px;
}
.message_content_container {
  width: 100%;
  display: inline-block;

  white-space: pre-wrap;
  word-wrap: break-word;
}
.message_content {
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
}

.enabled {
  transition: background-color 0.5s;
  color: #fff;
  background-color: #9370db;
  cursor: pointer;
}
#title_container.chat_title_container {
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  height: 100px;
}
#title.chat_title {
  transition: 0.8s;
  font-size: 47px;
}
.loader_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  border-top: 6px solid #9370db;
  border-bottom: 6px solid #1d3354;
  border-left: 6px solid #e9fff9;
  border-right: 6px solid #e9fff9;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blur {
  0% {
    filter: blur(5px);
  }
  100% {
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: fff;
}

#str {
  width: 800px;
  padding: 20px;
  height: auto;
  font-family: sans-serif;
  font-size: 40px;
  margin: 200px auto;
  color: #fff;
  font-weight: bold;
  background: #000;
}

::selection {
  background-color: #9370db;
  color: #8a2be2;
}
/* Scroll bar for chat */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #9370db;
  border-radius: 5px;
}
